{{ $style := resources.Get "css/partials/body/hero_with_video.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">

{{ with $.Site.Params.child }}
{{ $override := resources.Get "css/partials/body/hero_with_video_override.css" | minify }}
<link rel="stylesheet" type="text/css" href="{{ $override.Permalink }}">
{{ end }}

<div class="hero {{ with .classes }}{{ . }}{{ end }}">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-7 order-2 order-md-1">
        {{ with .hero_content }}
        <div class="hero__content">
          {{ with .text }}
          <p class="hero__content__text">{{ . }}</p>
          {{ end }}
          {{ with .title }}
          <h1 class="hero__content__title">{{ . }}</h1>
          {{ end }}
        </div>
        {{ end }}
      </div>

      <div class="col-sm-12 col-md-5 order-1 order-md-2 hero__media-column">
        {{ with .hero_video }}
        <div class="hero__video" style="width: 602.516px;">
          {{ with .info }}
          <div data-video-player="vimeo" data-video-url="{{ .url }}" class="hero__video-wrapper">
            <div id="HeroPlayer" data-vimeo-initialized="true">
              <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="{{ .src }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="{{ .title }}" data-ready="true"></iframe>
              </div>
            </div>
          </div>
          {{ end }}

          {{ with .hero_image }}
          <div style="background-image: url('{{ .url }}'); display: none;" class="hero__image">
            <img src="{{ .url }}">
            <div class="hero__image__play-btn">
              <div class="hero__round-btn">
                <i class="fas fa-play"></i>
              </div>
            </div>
          </div>
          {{ end }}

        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>