{{ "<!-- Google Tag Manager (script) -->" | safeHTML}}
      <script> var dataLayer = window.dataLayer = window.dataLayer || []; dataLayer.push({ page:'{{ .Title }}', categories:'' }); </script>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','{{ . }}');</script>
      <script type="text/javascript">window._vis_opt_queue = window._vis_opt_queue || [];window._vis_opt_queue.push(function() {_vis_opt_goal_conversion(206);});</script>
{{ "<!-- End Google Tag Manager (script) -->" | safeHTML}}