<div class="content-box">
  <div class="content-box__title">Why Pearson?</div>
  <h2 class="text-center">Education is our mission.</h2>
  <div class="row">
    <div class="col-12 col-sm-5 offset-sm-1">
      <p>No provider partner has the relationships, scale, expertise, investment in, and passion for education like Pearson. Pearson Accelerated Pathways leverages the best of Pearson capabilities to serve opportunity youth through working adults, helping to have a positive impact on your bottom line and the lives of your employees.</p>
    </div>
    <div class="col-12 col-sm-5">
      <ul>
        <li>Integrate into or alongside existing learning, development, or tuition assistance programs</li>
        <li>Curation of best-in-class programs, technology experiences, and non-profit institutions, leveraging Pearson content, services, solutions and talent</li>
        <li>Coaches and advisors support employees throughout their journey</li>
        <li>Credit for prior work experience and meaningful pathways that meet career objectives</li>
        <li>Provides ease of working with one team to manage simple to complex client engagements.</li>
      </ul>
    </div>
  </div>
  <p class="text-center"><strong>Changing lives is easy.</strong></p>
  <p class="text-center"><a href="/why-pearson.php" class="btn btn-lg btn-primary">Learn More</a></p>
</div>